@{
    ViewData["Title"] = "Trang Đăng nhập";
    Layout = "~/Views/Shared/_LoginLayOut.cshtml";
}
@{
    <p>@ViewData["ThongBao"]</p>
    <a asp-area="" asp-controller="Account" asp-action="Login"><p>Trở lại trang đăng nhập</p></a>
}
