@{
    ViewData["Title"] = "Trang Đăng Ký Username";
    Layout = "~/Views/Shared/_LoginLayOut.cshtml";
}
@{
    <p>@ViewData["ThongBao"]</p>
    <a asp-area="" asp-controller="Account" asp-action="CheckRegister"><p>Trở lại trang đăng ký</p></a>
}
