@model IEnumerable<BookShop.Areas.Admin.Models.Product>
@{
    ViewData["Title"] = "TRANG QUẢN LÝ SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <h1>Trang quản lý sản phẩm</h1>
</div>


