@{
    ViewData["Title"] = "Trang Đăng Nhập Username";
    Layout = "~/Views/Shared/_LoginLayOut.cshtml";
}
@{
    <p>@ViewData["Thongbao"]</p>
    <a asp-area="Admin" asp-controller="User" asp-action="Login"><p>Trở lại trang đăng nhập</p></a>
}