@model IEnumerable<BookShop.Areas.Admin.Models.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <h1>Trang quản lý hóa đơn</h1>
</div>

